@charset "utf-8";

:root {
    --row-height: 1.675rem;
}

body {
    /*    background-color: pink;*/
        background: #eee;
}

.gnav li {
    list-style: none;
    position: relative;
    width: 200px;
    height: var(--row-height);

    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    background: #001b34;
    color: #fff;
}

    .gnav li a {
        display: block;
        text-decoration: none;
        text-align: center;
        /*幅は、rowとcolに任せる*/
/*        width: 100%;*/
        /*

        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        background: #001b34;
            */
        color: #fff;
    }

.gnav, .gnav ul {
    padding: 0;
}

/*子階層以降共通*/
.gnav li li {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.gnav li:hover > ul > li {
/*.gnav li > ul > li {*/
    height: var(--row-height);
    overflow: visible;
}

/*孫階層以降共通*/
.gnav li ul {
    left: 100.5%;
/*    left: 212px;*/
    position: absolute;
    top: 0;
    width: 100%;
}

/*bootstrapについているスタイルを除去*/
li.row{
    margin: 0;
}
